################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/MyWinJS6_1/bld/Debug
/MyWinJS6_1/bin/Debug/ReverseMap
/MyWinJS6_1/bin/Debug/AppX/microsoft.system.package.metadata
/MyWinJS6_2/bin/Debug/ReverseMap
/MyWinJS6_2/bin/Debug/AppX/microsoft.system.package.metadata
/MyWinJS6_2/bld/Debug
/MyWinJS6_2/bin/Debug
/MyWinJS6_3/bin/Debug/ReverseMap
/MyWinJS6_3/bld/Debug
/MyWinJS6_3/bin/Debug/AppX/microsoft.system.package.metadata
/MyWinJS6_3/bin/Debug
